
 .footer{
      margin: 0;
      padding: 0;
     }
     .footrow{
      margin: 0px;
      padding:0% 5%;
      padding-bottom: 8%;
    }
    .aboutWidget{
      padding-bottom: 10px;
    }
    .aboutWidget>*{
      padding:10px 0px;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      /* font-family: 'Poppins', sans-serif ; */
    }
    .phone{
      display: flex;

    }
    .fphn{
      font-weight: bolder;
      font-size: 90%;
      color:rgb(116,40,148);
      padding-left: 2%;
    }

  .copyrightrow{
    margin: 3% 0%;
  }
.copyText{
  margin:0% 5%;
  /* font-family: 'Poppins', sans-serif ; */
}
.copyMenu{
  margin:0% 10%;
  padding-left: 15%;
}
  .copyMenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    color:rgb(116,40,148)  ;
    
  }
  .copyMenu ul li a{
    text-decoration: none;
    color: black;
    /* font-family: 'Poppins', sans-serif ; */
  }
  .copyMenu ul li a:hover{
    color:rgb(116,40,148)   ;
  }