.row{
  padding-left: 3%;
  padding-top: 7%;
}
.colmd10{
  width: 50%;
  margin-left:2%;
  /* border: 1px solid black; */
}
.section1{
  padding: 10% 5%;
  background-color: rgb(250,237,255);
  line-height: 1.8;
}
.iBox{
  
  display: flex;
  flex-direction:row;
  align-items: center;
  /* border: 1px solid black; */
}
.iconbox{
  flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1.5px solid rgb(240, 166, 166);
    margin-right:5px ;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    color: rgb(125, 51, 156);
   
    /* border: 2px solid black; */
}
.iBox:hover .iconbox{
    border: 1.5px solid rgb(125, 51, 156);
}

.iBox:hover .icon{
    background-color: rgb(125, 51, 156);
    color: white;
    border: 1.5px solid rgb(125, 51, 156);
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out; 
}
.iconbox {
  background: transparent;
  transition: background 0.5s ease-in-out; 
}

/* .iconbox:hover {
  background: radial-gradient(circle, rgb(125, 51, 156) 0%, rgba(125, 51, 156, 0) 100%);
} */
.dbox{
  
    flex: 1 1 50%;
    text-align: start;
}

.span1{
    font-weight: bolder;
}
.span2{
    color: rgb(133, 133, 140);
    margin-top: "10%";
}
  

 /* ------------- */

 .footer {
    background-color: rgb(26,26,26); 
    padding: 30px ;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .copyMenu ul {
    list-style: none;
    padding-bottom: 3%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .copyMenu li {
    margin-left: 20px;
  }
  
  .copyMenu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .copyMenu a:hover {
    color: rgb(125, 51, 156);
  }
  
  .copyright {
    background-color: #100f0f;
    padding: 15px 0;
    color: white;
  }
  
 
  
  