.bleft {
    display: inline-block; /* Ensures it behaves like a block to allow styling */
    width: 50px; /* Adjust the length of the line */
    height: 2px; /* Set the thickness of the line */
    background-color:rgb(116,40,148); /* Adjust the color as needed */
    vertical-align: middle; /* Aligns vertically within inline content */
    margin: 0 auto; /* Center the line horizontally */
    position: relative; /* Ensures precise positioning if needed */
    margin-right: 2%;
    margin-left: 2%;
    color: rgb(116,40,148);
  }
  .srow{
    padding-left: 3%;
    padding-top: 7%;
  }
  .colmd10{
    width: 45%;
    margin-left:2%;
    /* border: 1px solid black; */
  }
 
.section1{
    padding-bottom: 3%;
}  

.s1secTitle{
  font-weight: bolder;
  font-size: x-large;
}
.s1left{
  padding-left:4% ;
    padding-right: 5%;
}

.s2box p{
  color: rgb(180, 178, 180);   
}
.secDesc{
    color: rgb(180, 178, 180); 
}
.s2box{
    display: flex;
    /* border: 1px solid rgb(20, 19, 19); */
    /* margin: 5%; */
}
.s2img{
  align-items: center;
  align-content: center;
  text-align: center;
  min-width: 90px;
  min-height: 90px;
  max-width:90px ;
  max-height: 90px;
  border-radius: 50%;
  flex:1 1 40%;
   margin: 4%;
   border: 1px solid rgb(240, 166, 166);
}
.s2box:hover .s2img{
  background-color: rgb(116,40,148);
  border: 1px solid white;
}

/* ---------- */
.section2 {
    padding: 50px 20px;
    background-color: #eeedf0;

  }
  
  .s2row{
    /* border: 1px solid rgb(68, 68, 68); */
    justify-content: center;
    justify-items: center;
    padding: 5%;
    
  }
  .card  a {
    text-decoration: none;
  }
  .card:hover p  {
    color:white;
  }
  .card:hover .s2title {
    color: white; 
}

.card .s2title:hover {
    color: black;
}
  .s2title {
    color: #000;
  }
  .card{
  background-color: white;
  /* border: 1px solid rgb(82, 84, 82); */

  }
 
  /* .icon {
    font-size: 40px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 90px;
    height: 90px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0 auto; 
    border-radius: 50%;
    border: 1px solid rgb(240, 166, 166);
  }
  .card:hover .icon{
    background-color: white;
    border:none;
  }
  
  .card  h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1;
  } */
  
  /* .card  p {
    font-size: 16px;
    color: #a8a6a6;
    line-height: 1.8;
  } */
  /* ----------- */

  .section3{
    background-color:white;
  }
  .row{
    max-width: 100%;
    padding: 5%;
  }
.s3card{
    background-color: white;
    border: 1px solid rgb(253, 253, 253);
    margin-top: 5%;
    border-radius: 35px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.s3card:hover{
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
.cardBody{
    color:#a8a6a6 ;
    font-size: small;
    padding: 2%;
}
.addbtn{
    margin: 2%;
    padding: 1%;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    border-radius: 50%;
    background-color:rgb(125, 51, 156)  ;
    color: white;
}
.expCounter{
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 5%;
  min-width: 20px;
  max-width: 200px;
  min-height: 160px;
  color: white;
  background-color:rgb(145, 78, 176)  ;
  align-items: center;
  padding-left: 20%;
  /* padding-right: -60px; */
}
@media screen and (max-width: 1000px) {
  .section3 .row {
    flex-direction: column;
    
  }

  .s3left {
    flex: 100%; 
    padding-right: 0;
  }

  .expCounter {
    flex: 100%; 
    margin: 20px 0; 
    right: 0 !important; 
  }
}
.expCounter:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.counter{
    /* border: 1px solid black; */
    font-size: 50px;
}
.expCounter p{
    /* border: 1px solid black; */
    font-size: larger;
    margin-top: 0px;
}
.expCounter h2{
   margin-bottom: 0px; 
   /* border: 1px solid black; */
   width: 50%;
}


/* -------------------- */

.s4row{
    text-align: center;
    align-items: center;
     }
     .s4row p{
       color: #a8a6a6;
     }

.techStack {
    padding: 50px;
    background-color: #f6f6f6;
}
  
  /* .container {
    max-width: 1200px;
    margin: auto;
  }
   */
  .subTitle {
    font-size: 24px;
    font-weight: bold;
  }
.sectionBody {
    margin-top: 60px;
    /* border: 1px solid black; */
    padding: 50px;
  }
  
  .techStackItem {
    margin-bottom: 30px;
    display: flex;
  }
  
  .techName {
    font-weight: bold;
    padding: 2%;
    background-color:rgb(125, 51, 156)  ;
    color: white;
    min-width: 20%;
    text-align: center;
  }
  .techList{
    padding: 2%;
    background-color: white;
    min-width: 45%;
    
  }
  .techList span {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    background-color: #efe0f4;
    padding: 5px 10px;
    border-radius: 5px;
    color:rgb(125, 51, 156)  ;
  }
  @media screen and (max-width: 500px) {
    .sectionBody  {
     padding: 0px;
      
    }
    .techStack{
      padding: 5px;
    }
  }
 
  /* ------------------------- */

  .footer {
    background-color: #292121; /* Example background color */
    padding: 30px ;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .copyMenu ul {
    list-style: none;
    padding-bottom: 3%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .copyMenu li {
    margin-left: 20px;
  }
  
  .copyMenu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .copyMenu a:hover {
    color:rgb(125, 51, 156);
  }
  
  .copyright {
    background-color: #100f0f;
    padding: 15px 0;
    color: white;
  }
  
 
  
  