.header03{
  padding: 0;
  margin: 0;
}
.header03 {
  position: fixed;
  width: 100%;
  /* border: 1px solid black; */
  max-width: 100%;
  padding-bottom: 0.1%;
  z-index: 10;
  background-color: transparent;
  background-color: none;
  margin-left:0px ;
  margin: 0px;
  min-height: 50px;
}
.menuLink{
  color: white;
  height: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  transform: none;
  
  /* padding: 2.2%; */
  /* border: 1px solid black; */
}
@media (max-width: 1000px) {
  .menuLink,
  .contact {
    display: none;
  }
}
@media (min-width: 1000px) {
  .menuicon{
    display: none;
  }
}
.serach{
  padding-left: 3%;
  border-left: 1px solid white;
  /* border: 1px solid black; */
  width: 5%;
}

.header03.scrolled {
  transition: transform 0.5s ease-in-out;
  background-color: #fefbfb; 
}

/* You can also change other styles (e.g., text color) when scrolled */

.header03.scrolled .menuLink {
  color: rgb(7, 6, 6);
}
.serach , .contact{
  color: white;
}
.serach.scrolled ,.contact.scrolled{
  color:rgb(116,40,148) ;
}
.navMenu{
  /* border: 1px solid black; */
  margin-left: -5%;
}
.submenu {
  padding: 5%;
  width: 400px;
  opacity: 0.8;
  /* height: 100px; */
}
.submenu >* {
  text-decoration: none;
 color:rgb(116,40,148) ;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.li {
  position: relative;
  display: inline-block; 
  text-decoration: none;
  /* border: 1px solid black; */
  width: 200px;
}
.li:hover{
  text-decoration: none;
}
.li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 0;
  height: 1px; 
  background-color: rgb(116, 40, 148); 
  transition: width 0.5s ease-in-out;
}

.li:hover::after {
  width: 90%; 
}
.menuicon{
  color: white;
  height: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  max-width: 200px;
}
.header03.scrolled .menuicon {
  color: rgb(7, 6, 6);
}
.iconli::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 0;
  height: 1px; 
  background-color: rgb(116, 40, 148); 
  transition: width 0.5s ease-in-out;
}

.iconli:hover::after {
  width: 90%; 
}

.contact{
  font-weight: bold;
}







